nav {
    display: flex;
    padding: 0px;
    width: 100%;
    background-color: var(--text-color);
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}

nav a {
    display: inline-block;
    padding: 0.5rem 2rem;
    color: var(--background);
    text-decoration: none;
    transition: all 0.5s ease-out;
}

nav a:hover,
nav a:focus {
    background-color: var(--header-color);
}

nav a:first-child {
    margin-left: 0px;
}

nav a:last-child {
    margin-right: 0px;
}

nav a.active {
    background-color: var(--active-menu);
    font-weight: 700;
    cursor: default;
}
