nav {
    display: flex;
    padding: 0px;
    width: 100%;
    background-color: #f4d6cc;
    font-weight: 400;
}

nav a {
    display: inline-block;
    padding: 0.5rem 2rem;
    color: #32373b;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    background-color: #e29378;
    transition: all 0.5s ease-out;
}

nav a:first-child {
    margin-left: 0px;
}

nav a:last-child {
    margin-right: 0px;
}

nav a.active {
    background-color: #eaae9a;
    font-weight: 700;
    cursor: default;
}
